
/* header */

.header {
    padding: 59px 0;

}

.gap_navbar {
    gap: 0 35px;


}

.list_navbar {
    color: #0D0E43;
    font-family: var(--mainfont);
}


.color_for_home {

    color: var(--primarycolor);
}

.search input {

    outline: none;
    border: none;
    width: 180px;
    padding: 0 10px;
}



.search_button {
    background-color: var(--primarycolor);
    outline: none;
    border: none;
    padding: 1px;
}

.search {

    border: 1px solid #E7E6EF;
    border-radius: 5px;
}

.bars_headar {
    width: 20px;
    display: none;
}

@media screen and (max-width:1200px) {

    .search,
    .list {
        display: none;
    }

    .bars_headar {

        display: block;
    }
}
/* end of header */

/* ////////////////////////////////////////////////// */

/* <!-- hero --> */


.hero {

background-color: #F2F0FF;
padding:  40px 0;
position: relative;
}

.left-side-in-hero{

display: flex;
flex-wrap: wrap;
flex-wrap: wrap;
flex-direction: column;
gap: 30px;
align-items:flex-start;


}

.left-side-in-hero span{

    color: #FB2E86;
    font-size: 16px;
}

.left-side-in-hero h2{

    
    font-size: 40px;
}


.left-side-in-hero{
flex-grow: 1;
}

.right-side-in-hero{
flex-grow: 1;

}



.left-side-in-hero p{

    color: #8A8FB9;
    font-size: 16px;
}

.left-side-in-hero a{

    color: #fff;
    
}


.left-side-in-hero img{

   width: 100px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 50px;
}





.right-side-in-hero img{

width: 400px;
object-fit:contain;

}


@media screen and (max-width:1400px) {
    .left-side-in-hero img{

   display: none;
    }
    
}


@media screen and (max-width:1400px) {
    .right-side-in-hero img{

   width: 200px;
    }
    
}






/* <!-- end of hero -->
 <!-- /////////////////////////////////////////////////////////// --> */




/* <!-- Featured Products --> */

.Featured-Products h2{
    text-align: center;
    color: #1A0B5B;
    padding-top: 40px;
}
.Featured-Products h3{

    color: #FB2E86;
}



.Featured-1,.Featured-2,.Featured-3,.Featured-4{

display: flex;
flex-direction: column;
align-items: center;
gap: 0px;
margin-top: 20px;
padding: 50px 0;
flex-grow: 1;
flex-basis: 150px;

}


.Featured-Products img{

width: 100%;
height: 100%;
object-fit:contain;
background-color: #F6F7FB;
box-shadow: 0px 4px 4px #00000040;
}

.Featured-1-top{
width: 250px;
height: 200px;
position: relative;

}

.Featured-Products .Featured-1-top button{
background-color: #08D15F;
position: absolute;
bottom: 4px;
left: 0;
right: 0;
margin: auto;
width: 90px;
height: 20px;
display: none;

}

 .Featured-1:hover .button-img-Featured{
    display: block;
     transition-duration: 1s;
}

.Featured-1:hover h3{
   color: #fff;
}





.icon-in-Featured-1{

    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}

.Featured-1:hover .icon-in-Featured-1{
   display: block;
}



.Featured-2-top{
width: 250px;
height: 200px;
position: relative;


}

.Featured-Products .Featured-2-top button{
background-color: #08D15F;
position: absolute;
bottom: 4px;
left: 0;
right: 0;
margin: auto;
width: 90px;
height: 20px;
display: none;

}

.Featured-2:hover .button-img-Featured{
    display: block;
     transition-duration: 1s;
}
.Featured-2:hover h3{
   color: #fff;
}

.icon-in-Featured-2{

    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}

.Featured-2:hover .icon-in-Featured-2{
   display: block;
}




.Featured-3-top{
width: 250px;
height: 200px;
position: relative;


}

.Featured-Products .Featured-3-top button{
background-color: #08D15F;
position: absolute;
bottom: 4px;
left: 0;
right: 0;
margin: auto;
width: 90px;
height: 20px;
display: none;

}

.Featured-3:hover .button-img-Featured{
    display: block;
     transition-duration: 1s;
}

.Featured-3:hover h3{
   color: #fff;
}


.icon-in-Featured-3{

    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}

.Featured-3:hover .icon-in-Featured-3{
   display: block;
}


.Featured-4-top{
width: 250px;
height: 200px;
position: relative;


}

.Featured-Products .Featured-4-top button{
background-color: #08D15F;
position: absolute;
bottom: 4px;
left: 0;
right: 0;
margin: auto;
width: 90px;
height: 20px;
display: none;

}

.Featured-4:hover .button-img-Featured{
    display: block;
     transition-duration: 1s;
}

.Featured-4:hover h3{
   color: #fff;
}

.icon-in-Featured-4{

    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}

.Featured-4:hover .icon-in-Featured-4{
   display: block;
}












.Featured-1-bottom, .Featured-2-bottom , .Featured-3-bottom, .Featured-4-bottom
{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    flex-wrap: wrap;
    padding-top: 10px;
}















.Featured-Products button{

    width: 20px;
    height: 6px ;
   
   border: none;
   outline: none;
   border-radius: 5px;
   
   background-color: #151875;
   cursor:pointer;
}


.Featured-Products .button-1-in-Featured-Products {
  background-color: #05E6B7 ;
}

.Featured-Products .button-2-in-Featured-Products {
  background-color: #00009D ;
}











.Featured-span{

color: #151875;
display: flex;
align-items: center;
flex-direction: column;
gap: 20px;
}



 .Featured-Products .hover-Featured:hover .hover-bottom-Featured 
{
    background-color:#2F1AC4 ;
    transition-duration: 1s;
    

}

.Featured-Products .hover-Featured:hover .button-3-in-Featured-Products 
{
    background-color:#FFEAC1 ;
    transition-duration: 1s;
  
}









/* <!--end of Featured Products -->
  <!-- /////////////////////////////////////////////////////////// --> */


/* <!-- what shopex offer --> */

.what-shopex-offer{

padding: 100px 0;

}

.what-shopex-offer h2{
    color:  #151875;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px ;

}

.products-in-what-shopex-offer{

display: flex;
align-items: center;
flex-wrap: wrap;
gap: 20px;
padding: 40px 10px;
}

.product-in-what-shopex-offer{

width: calc( ( 100% - 60px ) / 4 );
background-color: #fff;
padding: 50px 0;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

.product-in-what-shopex-offer p{

    text-align: center;
    color:  #1A0B5B4D;

}

.product-in-what-shopex-offer h3{

    color: #151875;
}














/* <!-- end of what shopex offer -->
<!-- ////////////////////////////////////////////////////////// --> */


/* <!-- news later --> */

.newslater{

    background-image: url(./img/background_newslater.png);
    padding: 174px 0;
    background-attachment: fixed;
}

.newslater .row{
flex-direction: column;
}

.newslater h2{

margin-bottom: 60px;
color: #151875 ;
font-size: 35px;
}

.newslater a{

color: #FFFFFF ;
}

.newslater a:hover{

 background-color: #8A8FB9;
 transition-duration: 1s;
 transition-delay: 1s;
}



















/* <!-- end of news later -->
<!-- ///////////////////////////////////////// --> */



/* main claint */
.claint{

padding: 40px 0;


}
.img-in-claint{
    /* background-color: #0D0E43; */
display: flex;
flex-wrap: nowrap;
align-items: center;
gap: 55px;
overflow-x: auto;
}

@media screen and (max-width:1400px) {
    .img-in-claint{
       gap: 40px;
 
    }
    
}


@media screen and (max-width:992px) {
    .img-in-claint{
       gap: 30px;

    }
    
}

@media screen and (max-width:576px) {
    .img-in-claint{
        gap: 15px;

    }
    
}


/* end of  claint*/
/* ///////////////////////////////////////////////////// */



/* footer */
.footer{
background-color: #EEEFFB;

padding-top: 95px ;
padding-bottom: 198px;

}

.footer div {
    flex-grow: 1;
}


.input-footer {
    
    outline: none;
    border: none;
    width: 180px;
    padding: 11px 14px;
}

 .button-footer{
    
    background-color: var(--primarycolor);
    outline: none;
    border: none;
    padding: 11px 30px;
}


.left-side form{
display: flex;
align-items: center;
overflow: hidden;
   border: 1px solid #E7E6EF;
    border-radius: 5px;
flex-grow: 1;
}


.left-side h2, .left-side address {

    color: #8A8FB9;
}

.left-side{

display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: flex-start;
gap: 31px;
}

.last-footer-left h2{

   margin-bottom: 10px; 
}

.input-footer::placeholder{

color:  #8A8FB9;
}


.right-side{
display: flex;
flex-wrap: wrap;
gap: 0 50px;
}



.footer .right-side .left-1 ul{
display: flex;
flex-direction: column;
gap: 21px;
flex-wrap: wrap;


}

.footer .right-side .left-1 {
display: flex;
flex-direction: column;
gap: 43px;
flex-wrap: wrap;


}


.footer .right-side .left-2 ul{
display: flex;
flex-direction: column;
gap: 21px;
flex-wrap: wrap;


}

.footer .right-side .left-2 {
display: flex;
flex-direction: column;
gap: 43px;
flex-wrap: wrap;


}




.footer .right-side .left-3 ul{
display: flex;
flex-direction: column;
gap: 21px;
flex-wrap: wrap;


}

.footer .right-side .left-3 {
display: flex;
flex-direction: column;
gap: 43px;
flex-wrap: wrap;


}


.footer a {

    color: #8A8FB9 ;
}

.footer button{

    color: #EEEFFB;
}

/* end of footer */



