
/* header */

.header {
    padding: 59px 0;

}

.gap_navbar {
    gap: 0 35px;


}

.list_navbar {
    color: #0D0E43;
    font-family: var(--mainfont);
}


.color_for_home {

    color: var(--primarycolor);
}

.search input {

    outline: none;
    border: none;
    width: 180px;
    padding: 0 10px;
}



.search_button {
    background-color: var(--primarycolor);
    outline: none;
    border: none;
    padding: 1px;
}

.search {

    border: 1px solid #E7E6EF;
    border-radius: 5px;
}

.bars_headar {
    width: 20px;
    display: none;
}

@media screen and (max-width:1200px) {

    .search,
    .list {
        display: none;
    }

    .bars_headar {

        display: block;
    }
}
/* end of header */

/* ////////////////////////////////////////////////// */




/* <!-- news later --> */

.newslater{

    background-image: url(./img/background_newslater.png);
    padding: 174px 0;
    background-attachment: fixed;
}

.newslater .row{
flex-direction: column;
}

.newslater h2{

margin-bottom: 60px;
color: #151875 ;
font-size: 35px;
}

.newslater a{

color: #FFFFFF ;
}

.newslater a:hover{

 background-color: #8A8FB9;
 transition-duration: 1s;
 transition-delay: 1s;
}



















/* <!-- end of news later -->
<!-- ///////////////////////////////////////// --> */
























/* main claint */
.claint{

padding: 40px 0;


}
.img-in-claint{
    /* background-color: #0D0E43; */
display: flex;
flex-wrap: nowrap;
align-items: center;
gap: 55px;
overflow-x: auto;
}

@media screen and (max-width:1400px) {
    .img-in-claint{
       gap: 40px;
 
    }
    
}


@media screen and (max-width:992px) {
    .img-in-claint{
       gap: 30px;

    }
    
}

@media screen and (max-width:576px) {
    .img-in-claint{
        gap: 15px;

    }
    
}


/* end of  claint*/
/* ///////////////////////////////////////////////////// */



/* footer */
.footer{
background-color: #EEEFFB;

padding-top: 95px ;
padding-bottom: 198px;

}




.input-footer {
    
    outline: none;
    border: none;
    width: 180px;
    padding: 11px 14px;
}

 .button-footer{
    
    background-color: var(--primarycolor);
    outline: none;
    border: none;
    padding: 11px 30px;
}


.left-side form{
display: flex;
align-items: center;
overflow: hidden;
   border: 1px solid #E7E6EF;
    border-radius: 5px;

}


.left-side h2, .left-side address {

    color: #8A8FB9;
}

.left-side{

display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: flex-start;
gap: 31px;
}

.last-footer-left h2{

   margin-bottom: 10px; 
}

.input-footer::placeholder{

color:  #8A8FB9;
}


.right-side{
display: flex;
flex-wrap: wrap;
gap: 0 50px;
}



.footer .right-side .left-1 ul{
display: flex;
flex-direction: column;
gap: 21px;
flex-wrap: wrap;


}

.footer .right-side .left-1 {
display: flex;
flex-direction: column;
gap: 43px;
flex-wrap: wrap;


}


.footer .right-side .left-2 ul{
display: flex;
flex-direction: column;
gap: 21px;
flex-wrap: wrap;


}

.footer .right-side .left-2 {
display: flex;
flex-direction: column;
gap: 43px;
flex-wrap: wrap;


}




.footer .right-side .left-3 ul{
display: flex;
flex-direction: column;
gap: 21px;
flex-wrap: wrap;


}

.footer .right-side .left-3 {
display: flex;
flex-direction: column;
gap: 43px;
flex-wrap: wrap;


}


.footer a {

    color: #8A8FB9 ;
}

.footer button{

    color: #EEEFFB;
}

/* end of footer */






